@model PageResultVM<RoleVM>

@{
    ViewData["Title"] = "Index";
}

<h1>規則清單</h1>

<p>
    <a asp-action="Create">新增規則</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Id
            </th>
            <th>
                規則
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Items != null && Model.Items.Any())
        @foreach (var item in Model.Items) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">編輯規則</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">規則詳情</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">刪除規則</a>
            </td>
        </tr>
}
    </tbody>
</table>

<ul class="pagination justify-content-center">

    @if (Model != null)
    {
        var pageIndex = Model.PageIndex;
        var totalPages = Model.TotalPages;
        var pagesStringList = Model.PagesStringList;
        if (totalPages != 1 && totalPages != 0)
        {
            if (pageIndex == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item ">
                    <a class="page-link" href=@($"/Role/Index?searchString={Model.SearchString}&pageIndex={Model.PageIndex-1}&pageSize={Model.PageSize}")>Previous</a>
                </li>
            }

            if (pagesStringList != null)
            {
                foreach (var ps in pagesStringList)
                {
                    var index = ps;
                    if (ps == "1..")
                    {
                        index = "1";
                    }
                    if (ps == $"..{totalPages}")
                    {
                        index = totalPages.ToString();
                    }
                    if (ps != pageIndex.ToString())
                    {
                        <li class="page-item"><a class="page-link " href=@($"/Role/Index?searchString={Model.SearchString}&pageIndex={index}&pageSize={Model.PageSize}")>@ps</a></li>
                    }
                    else
                    {
                        <li class="page-item active"><a class="page-link " href=@($"/Role/Index?searchString={Model.SearchString}&pageIndex={index}&pageSize={Model.PageSize}")>@ps</a></li>
                    }
                }
            }
            if (pageIndex == totalPages)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            }
            else
            {
                <li class="page-item ">
                    <a class="page-link" href=@($"/Role/Index?searchString={Model.SearchString}&pageIndex={Model.PageIndex+1}&pageSize={Model.PageSize}")>Next</a>
                </li>
            }
            <input id="pageIndexInput" type="text" placeholder="跳轉至" />
        }
    }
</ul>
@section Scripts{

    <script>

        $(function () {
            var totalPages = @((Model != null && Model.GetType().GetProperty("TotalPages") != null && Model.TotalPages != 0) ? Model.TotalPages : 0);
            var searchString = `@Html.Raw(Model?.SearchString ?? "")`;
            var pageSize = @((Model != null && Model.GetType().GetProperty("PageSize") != null && Model.PageSize != 0) ? Model.PageSize : 0);
            $('#pageIndexInput').on('keyup', function (e) {
                if (e.keyCode === 13 || e.key == 'Enter') {
                    var pageIndexFromInput = $(`#pageIndexInput`).val().trim();
                    if (pageIndexFromInput == '' || isNaN(pageIndexFromInput) == true) {
                        alert('請輸入數字');
                    }
                    else if (pageIndexFromInput > totalPages) {
                        alert("沒有那麼多頁");
                    }
                    else {
                        var url = `/Role/Index?searchString=${searchString}&pageIndex=${pageIndexFromInput}&pageSize=${pageSize}`;
                        window.location.href = url;
                    }
                }
            });
        });

    </script>
}